<% if @random_name %>
<h1>My name is <%= @random_name %>. </h1>
<% end %>
<div>  <!-- A good practice to let the div tag as it is for future use-->
   <img src='http://bit.ly/1eze8aE' style='border: 3px dashed red'>
</div>